.villas-items {
    & > :not(:last-child) {
        margin-bottom: 30px;
    }
}

.villa-item {
    height: 595px;
    position: relative;

    display: flex;
    align-items: flex-end;

    position: sticky;
    top: 60px;

    * {
        cursor: pointer;
    }

    @media (max-width: 600px) {
        height: 314px;
    }

    @media (any-hover: hover) {
        &:hover {
            div label {
                background-color: $green;

                &:before,
                &:after {
                    background-color: $white;
                }
            }
        }
    }

    // .villa-item__img

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.83%, rgba(0, 0, 0, 0.66) 100%);
        }
    }

    // .villa-item__conent

    &__conent {
        padding-top: 25px;
        position: relative;
        width: 100%;
        color: $white;
        align-items: flex-end;

        @media (max-width: 1024px) {
            padding-top: 25px;
        }

        @media (max-width: 600px) {
            padding-top: 0;
            padding: 0 11px 15px 10px;
            display: flex;
            pointer-events: none;
        }

        &:before {
            position: absolute;
            content: "";
            left: 24px;
            top: 0;
            width: calc(100% - 48px);
            height: 1px;
            background-color: $white;
            opacity: 0.5;

            @media (max-width: 600px) {
                display: none;
            }
        }

        ._left {
            padding: 0 0 24px 24px;

            @media (max-width: 1024px) {
                padding: 0 0 20px 20px;
                width: auto;
            }

            @media (max-width: 600px) {
                padding: 0;
            }
        }

        ._right {
            padding: 0 24px 24px 0;

            @media (max-width: 1024px) {
                padding: 0 20px 20px 0;
                width: auto;
                flex: 1 1 auto;
                margin-left: 15px;
            }

            @media (max-width: 600px) {
                padding: 0;
            }
        }

        h3 {
            @media (min-width: 601px) {
                @include adaptive-value("font-size", 70, 30, 1);
            }

            @media (max-width: 600px) {
                font-size: 40px;
            }

            line-height: 1;
        }

        div {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media (max-width: 600px) {
                justify-content: flex-end;
            }

            label {
                flex: 0 0 auto;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #f7f6f2;

                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                transition: all 0.3s ease 0s;

                @media (max-width: 600px) {
                    display: none;
                }

                &:before,
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    content: "";
                    width: 35%;
                    height: 35%;
                    height: 2px;
                    background-color: $green;

                    transition: all 0.3s ease 0s;
                }

                &:before {
                    transform: translate(-50%, -50%);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }

            ol {
                width: 50%;

                display: flex;
                justify-content: space-between;
                white-space: nowrap;

                @media (max-width: 1096px) {
                    width: 62%;
                }

                @media (max-width: 1024px) {
                    width: auto;
                    margin-left: 15px;
                }

                & > :not(:first-child) {
                    margin-left: 16px;
                }

                @media (max-width: 600px) {
                    align-items: flex-end;
                    margin-left: 0;

                    & > :last-child {
                        display: none;
                    }
                }

                li {
                    span {
                        display: block;
                    }

                    & > :first-child {
                        font-weight: 300;
                        font-size: 13px;
                        margin-bottom: 20px;

                        @media (max-width: 600px) {
                            display: none;
                        }
                    }

                    & > :last-child {
                        line-height: 1.07;
                        font-size: 30px;

                        @media (max-width: 690px) {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}
