.section {
    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    ._left {
    }
    ._right {
    }

    // .section__top

    &__top {
        margin-bottom: 30px;

        p {
            padding-top: 0.2em;

            @media (max-width: 1024px) {
                margin-bottom: 10px;
            }
        }

        h3 {
            font-size: 70px;
            line-height: 1;

            @media (max-width: 1024px) {
                font-size: 50px;
            }

            @media (max-width: 600px) {
                font-size: 40px;
            }
        }

        @media (max-width: 1024px) {
            display: block;

            ._lef,
            ._right {
                width: 100%;
            }
        }
    }

    // .section__descr

    &__descr {
        margin-bottom: 34px;

        @media (max-width: 1024px) {
            margin-bottom: 40px;
        }

        @media (max-width: 600px) {
            margin-bottom: 35px;
        }

        p {
            max-width: 268px;
            font-size: 13px;
            font-weight: 300;
            line-height: 1.75;
            letter-spacing: normal;
            position: relative;

            @media (max-width: 600px) {
                max-width: none;
            }
        }

        &._medium p {
            font-size: 30px;
            font-weight: 500;
            line-height: 1.28;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .section__image

    &__image {
        margin-bottom: 35px;

        @media (max-width: 600px) {
            margin-bottom: 40px;
        }

        img {
            min-height: 315px;
            object-fit: cover;
            border-radius: 3px;
        }
    }
}

._lines {
    ._left,
    ._right {
        position: relative;
        padding-top: 25px;

        @media (max-width: 1024px) {
            padding-top: 0;
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: calc(100% - 7.5px);
            height: 1px;
            background-color: $light-gray;
            opacity: 0.5;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    ._right {
        &:after {
            left: -7.5px;
        }
    }

    ._left {
        position: relative;
        padding-right: 15px;

        @media (max-width: 1024px) {
            padding-right: 0;
        }

        &:before {
            position: absolute;
            content: "";
            right: 0;
            top: 15px;
            width: 1px;
            height: calc(100% - 15px);
            background-color: $light-gray;
            position: 0.5;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
}

#resort {
    @include adaptive-value("margin-bottom", 110, 70, 1);
}
.resort {
    // .resort-top

    &-top {
        @include adaptive-value("margin-bottom", 116, 70, 1);

        h2 {
            .big {
                font-size: 210px;
                letter-spacing: -0.125em;
                line-height: 0.75;
                font-style: italic;
                margin-left: -0.06em;

                @media (min-width: 601px) {
                    @include adaptive-value("font-size", 210, 90, 1);
                }

                @media (max-width: 600px) {
                    font-size: 44vw;
                    position: relative;
                }
            }

            .small {
                font-style: normal;
                font-size: 30px;
                display: block;
                color: $gray;
                letter-spacing: -0.04em;

                @media (max-width: 600px) {
                    font-size: 22px;
                    margin-top: 7px;
                }
            }
        }

        ol {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            @media (max-width: 600px) {
                margin-top: 31px;
                justify-content: flex-start;
                align-items: flex-start;

                & > :first-child {
                    width: 50%;
                    padding-bottom: 50%;
                }

                & > :last-child {
                    margin: 0 auto;
                    width: 35.5%;
                    padding-bottom: 35.5%;
                    top: -45px;
                }
            }

            & > :not(:last-child) {
                margin-right: 15px;
            }

            li {
                text-align: center;

                background-color: $white;
                border-radius: 50%;
                position: relative;
                padding-bottom: 32.4%;
                display: block;
                flex: 0 0 auto;
                width: 32.4%;

                & > div {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 20px;
                }

                .icon {
                    img,
                    svg {
                        height: 45px;

                        @media (max-width: 1024px) {
                            height: 29px;
                        }
                    }
                }

                span {
                    display: block;
                    margin-top: 15px;

                    @media (max-width: 1024px) {
                        font-size: 15px;
                    }

                    @media (max-width: 600px) {
                        margin-top: 12px;
                    }
                }

                label {
                    color: $green;
                    text-align: center;
                    font-size: 40px;
                    font-style: italic;
                    line-height: 1;
                    letter-spacing: -0.06em;

                    @media (max-width: 1024px) {
                        font-size: 28px;
                    }

                    @media (max-width: 600px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    // .resort-middle

    &-middle {
        @include adaptive-value("margin-bottom", 44, 30, 1);

        h3 {
            line-height: 0.875;
            letter-spacing: -0.07em;

            @include adaptive-value("font-size", 70, 40, 1);
        }

        p {
            max-width: 238px;
            font-size: 13px;
            font-weight: 300;
            line-height: 1.75;
            letter-spacing: normal;

            @media (max-width: 600px) {
                margin-top: 40px;
                max-width: none;
            }
        }
    }

    // .resort-map

    &-map {
        position: relative;

        img {
            object-fit: cover;

            height: 600px;

            @media (max-width: 600px) {
                height: auto;
            }
        }

        // .resort-map__content

        &__content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #000;
            padding-top: 18px;
            padding-left: 24px;
            padding-right: 24px;

            @media (max-width: 600px) {
                position: relative;
                margin-top: -23%;
                padding-right: 0;
                padding-left: 0;
            }

            &:before {
                position: absolute;
                content: "";
                left: 24px;
                top: 0;
                width: calc(100% - 48px);
                height: 1px;
                background-color: $light-gray;
                opacity: 0.5;

                @media (max-width: 600px) {
                    left: 0;
                    width: 100%;
                }
            }

            ._left {
            }

            .right {
            }

            h4 {
                font-weight: 500;
                line-height: 1;
            }

            ol {
                font-size: 14px;
                line-height: 1.41;

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;

                @media (max-width: 600px) {
                    margin-top: 30px;

                    display: block;
                    gap: 0;

                    & > :not(:last-child) {
                        margin-bottom: 15px;
                    }
                }

                li {
                    display: flex;
                    align-items: center;

                    &:before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        flex: 0 0 auto;
                        background-color: var(--color);
                        border: 3px solid #fff;
                        border-radius: 50%;
                        margin-right: 11px;
                    }

                    &.dot {
                        &:before {
                            background-image: url("@img/icons/dots.svg");
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: 8px;
                        }
                    }
                }
            }
        }
    }
}

#villas {
    @include adaptive-value("margin-bottom", 129, 70, 1);

    h2 {
        text-align: center;
        @include adaptive-value("font-size", 291, 89, 1);
        @include adaptive-value("margin-bottom", 30, 20, 1);
        line-height: 0.875;
        position: sticky;
        top: 80px;
    }
}

#unique {
    @include adaptive-value("margin-bottom", 120, 70, 1);

    h2 {
        line-height: 0.65;
        letter-spacing: -0.07em;
        @include adaptive-value("font-size", 291, 89, 1);
        margin-left: -0.06em;
    }
}
.unique {
    // .unique-top

    &-top {
        margin-top: 77px;

        @media (max-width: 600px) {
            margin-top: 45px;
        }

        p {
            max-width: 231px;

            @media (max-width: 600px) {
                max-width: none;
            }
        }

        h3 {
            max-width: 434px;
            font-size: 70px;
            line-height: 0.92;
            letter-spacing: -0.065em;

            @media (max-width: 1024px) {
                font-size: 50px;
            }

            @media (max-width: 600px) {
                font-size: 40px;
                margin-top: 30px;
                max-width: 243px;
            }
        }

        ._right {
            div {
                max-width: 231px;
                margin-top: 167px;

                @media (max-width: 1024px) {
                    margin-bottom: 40px;
                }

                @media (max-width: 600px) {
                    max-width: none;
                }
            }

            p {
                font-size: 14px;
                line-height: 1.8;
                margin-bottom: 40px;
                letter-spacing: normal;

                @media (max-width: 600px) {
                    margin-bottom: 36px;
                }
            }
        }
    }

    // .unique-middle

    &-middle {
        position: relative;
        @include adaptive-value("margin-bottom", 120, 70, 1);

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-end;
        }

        ._left {
            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        ._right {
            ._btn {
                max-width: 231px;

                @media (max-width: 1024px) {
                    margin-top: 40px;
                }

                @media (max-width: 600px) {
                    max-width: none;
                    margin-top: 36px;
                }
            }
        }

        ol {
            display: flex;
            align-items: flex-end;
            position: absolute;
            bottom: 165px;
            left: 0;
            width: 100%;
            z-index: -1;

            @media (max-width: 1024px) {
                position: static;
                align-items: center;
                margin-bottom: 40px;
                margin-top: 40px;
            }

            & > :not(:last-child) {
                margin-right: 16px;

                @media (max-width: 600px) {
                    margin-right: 0;
                }
            }

            & > :first-child {
                @media (min-width: 1025px) {
                    width: 19%;
                    padding-bottom: 19%;
                }

                @media (max-width: 1024px) {
                    margin-right: 18%;
                }

                @media (max-width: 600px) {
                    margin-right: 0;
                }

                .icon {
                    img,
                    svg {
                        height: 42px;

                        @media (max-width: 1024px) {
                            height: 29px;
                        }
                    }
                }
            }

            & > :nth-child(2) {
                @media (min-width: 1025px) {
                    width: 19%;
                    padding-bottom: 19%;
                    transform: translate(0, -50%);
                    align-self: flex-start;
                }

                @media (max-width: 1024px) {
                    align-self: center;
                }

                .icon {
                    img,
                    svg {
                        height: 40px;

                        @media (max-width: 1024px) {
                            height: 25px;
                        }
                    }
                }
            }

            & > :nth-child(3) {
                @media (min-width: 1025px) {
                    margin-left: auto;
                    width: 27.9%;
                    padding-bottom: 27.9%;
                }

                .icon {
                    img,
                    svg {
                        height: 78px;

                        @media (max-width: 1024px) {
                            height: 35px;
                        }
                    }
                }
            }

            li {
                text-align: center;

                background-color: $white;
                border-radius: 50%;
                position: relative;
                display: block;
                flex: 0 0 auto;

                @include adaptive-value("font-size", 22, 11, 1);

                @media (max-width: 1024px) {
                    width: 23%;
                    padding-bottom: 23%;
                }

                @media (max-width: 600px) {
                    width: calc(100% / 3);
                    padding-bottom: calc(100% / 3);
                }

                & > div {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 20px;
                }

                span {
                    display: block;
                    margin-top: 26px;

                    @media (max-width: 1024px) {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    &-actions {
        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 120, 70, 1);
        }

        // .unique-actions__btn

        &__btn {
            @include adaptive-value("margin-top", 50, 30, 1);
            max-width: $right-col-width;
            margin-left: auto;

            @media (max-width: 1024px) {
                max-width: $left-col-width;
                margin-left: 0;
                max-width: none;
            }

            @media (max-width: 600px) {
            }

            ._btn {
                max-width: 50%;
                white-space: nowrap;

                @media (max-width: 1024px) {
                    max-width: none;
                    width: fit-content;
                }

                @media (max-width: 600px) {
                    width: 100%;
                }
            }
        }
    }

    // .unique-action

    &-action {
        &._table {
            @media (max-width: 1024px) and (min-width: 601px) {
                .unique-action__contnet-text > :last-child {
                    width: 100%;
                    padding-right: 0;
                }
            }

            .section__descr {
                @media (max-width: 1024px) {
                    display: block;

                    ._left,
                    ._right {
                        width: 100%;

                        p {
                            max-width: none;
                        }
                    }
                }
            }
        }

        // .unique-action__contnet

        &__contnet {
            @media (max-width: 1024px) {
                display: block;
            }

            ._left,
            ._right {
                @media (max-width: 1024px) {
                    width: 100%;
                }
            }

            ._left {
                img {
                    min-height: 100%;
                    object-fit: cover;

                    @media (max-width: 1024px) {
                        margin-bottom: 40px;
                    }

                    @media (max-width: 600px) {
                        margin-bottom: 30px;
                    }
                }
            }

            // .unique-action__contnet-text

            &-text {
                display: flex;
                justify-content: space-between;
                min-height: 100%;

                @media (max-width: 600px) {
                    display: block;

                    & > :first-child {
                        margin-bottom: 30px;
                    }
                }

                @media (max-width: 1024px) and (min-width: 601px) {
                    & > :first-child {
                        width: $left-col-width;
                        padding-right: 25px;
                    }

                    & > :last-child {
                        width: $right-col-width;
                    }
                }

                & > div {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media (max-width: 600px) {
                        width: 100%;
                    }

                    & > :first-child {
                        margin-bottom: 40px;

                        @media (max-width: 600px) {
                            margin-bottom: 30px;
                        }
                    }

                    p {
                        font-size: 13px;
                        font-weight: 300;
                        line-height: 1.75;
                        max-width: 245px;
                        letter-spacing: normal;

                        @media (max-width: 1024px) {
                            max-width: none;
                        }
                    }

                    .attention {
                        max-width: 245px;
                        font-size: 14px;
                        line-height: 1.49;
                        display: block;
                        letter-spacing: normal;

                        @media (max-width: 600px) {
                            max-width: none;
                        }

                        &:before {
                            content: "*";
                            display: block;
                            font-size: 28px;
                            line-height: 1;
                            color: $green;
                        }
                    }
                }

                ol {
                    & > :not(:last-child) {
                        margin-bottom: 15px;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        line-height: 1.13;

                        .icon {
                            width: 60px;
                            height: 60px;
                            background-color: $white;
                            border-radius: 50%;
                            flex: 0 0 auto;
                            margin-right: 20px;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img,
                            svg {
                                height: 27px;
                            }
                        }

                        span {
                        }
                    }
                }

                ._btn {
                    @media (min-width: 601px) {
                        max-width: 253px;
                    }
                }
            }
        }
    }

    // .unique-invest

    &-invest {
        .heading {
            font-size: 13px;
            font-weight: 300;
            line-height: 1.75;
            display: block;
            letter-spacing: normal;
        }

        // .unique-invest__head

        &__head {
            padding-bottom: 12px;
            margin-bottom: 45px;
            position: relative;

            @media (max-width: 1024px) {
                display: none !important;
            }

            @media (max-width: 600px) {
                display: none !important;
            }

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: $light-gray;
                opacity: 0.5;
            }

            .heading {
                width: 50%;
            }

            ._left,
            ._right {
                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            ._right {
                & > div > :last-child {
                    max-width: 200px;
                    width: 100%;
                }
            }
        }

        // .unique-invest__items

        &__items {
            & > :not(:last-child) {
                margin-bottom: 45px;

                @media (max-width: 1024px) {
                    margin-bottom: 38px;
                }
            }
        }
    }
}
.invest-item {
    align-items: flex-end;
    position: relative;
    padding-bottom: 45px;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $light-gray;
        opacity: 0.5;
    }

    @media (max-width: 1024px) {
        display: block;
    }

    .heading {
        display: none;
        margin-bottom: 15px;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    ._left,
    ._right {
        & > div {
            display: flex;
            justify-content: space-between;

            @media (max-width: 600px) {
                display: block;

                & > :not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    ._right {
        @media (min-width: 1025px) {
            & > div > :last-child {
                max-width: 200px;
                width: 100%;
            }
        }

        @media (max-width: 1024px) {
            margin-top: 40px;
        }
    }

    // .invest-item__cell

    &__cell {
        width: 50%;

        @media (max-width: 1024px) {
            &:first-child {
                width: $left-col-width;
            }
            &:last-child {
                width: $right-col-width;
            }
        }

        @media (max-width: 600px) {
            &:first-child {
                width: 100%;
            }
            &:last-child {
                width: 100%;
            }
        }

        ._price {
            span {
                font-style: italic;
                line-height: 1;
                letter-spacing: -0.065em;
                color: $green;

                @media (min-width: 1025px) {
                    @include adaptive-value("font-size", 70, 0, 1);
                }

                @media (max-width: 1024px) {
                    font-size: 50px;
                }
            }
        }
        ._roi {
            font-style: italic;
            line-height: 1;
            letter-spacing: -0.065em;

            @media (min-width: 1025px) {
                @include adaptive-value("font-size", 70, 0, 1);
            }

            @media (max-width: 1024px) {
                font-size: 50px;
            }
        }
    }
}

#locations {
    @include adaptive-value("margin-bottom", 120, 70, 1);

    .section__descr {
        margin-bottom: 50px;

        @media (max-width: 1024px) {
            margin-bottom: 32px;
        }

        @media (max-width: 600px) {
            margin-bottom: 38px;
        }
    }
}

.location {
    // .location-image

    &-image {
        position: relative;
        margin-bottom: 25px;

        @media (max-width: 1024px) {
            margin-bottom: 40px;
        }

        @media (max-width: 600px) {
            margin-bottom: 30px;
        }

        h2 {
            position: absolute;
            top: 0;
            left: 10px;

            @include adaptive-value("font-size", 291, 89, 1);

            color: $white;
            line-height: 1;
            letter-spacing: -0.07em;

            @media (max-width: 600px) {
                top: 12px;
            }
        }

        img {
            border-radius: 3px;
            min-height: 315px;
            object-fit: cover;
        }
    }

    // .location-circle

    &-circle {
        position: relative;

        @media (max-width: 1024px) {
            margin-bottom: 59px;
            display: block;
        }

        @media (max-width: 600px) {
            margin-bottom: 38px;
        }

        ._left {
            position: relative;

            @media (max-width: 1024px) {
                width: 100%;
            }
        }
        ._right {
        }

        img,
        svg {
            position: absolute;
            left: 0;
            max-width: calc(100% - 25px);
            transform: translate(0, -33%);

            @media (max-width: 1024px) {
                position: relative;
                transform: none;
                max-width: 577px;
                margin: 0 auto;
            }
        }
    }

    // .location-list

    &-list {
        @media (max-width: 1024px) {
            display: block;

            ._left,
            ._right {
                width: 100%;
            }
        }

        ol {
            margin-bottom: 110px;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 35px 15px;

            @media (max-width: 1024px) {
                grid-template-columns: $left-col-width $right-col-width;
                gap: 50px 15px;
                margin-bottom: 50px;
            }

            @media (max-width: 600px) {
                margin-bottom: 90px;
                display: flex;
                flex-direction: column;
                gap: 0;

                & > :not(:last-child) {
                    margin-bottom: 35px;
                }
            }

            li {
                display: flex;

                label {
                    color: $green;
                    font-size: 70px;
                    font-style: italic;
                    line-height: 1;
                    letter-spacing: -0.065em;
                    white-space: nowrap;
                    margin-right: 30px;
                    flex: 0 0 80px;

                    @media (max-width: 1024px) {
                        margin-right: 20px;
                    }
                }

                p {
                    font-size: 30px;
                    line-height: 1.07;

                    span {
                        display: block;
                        font-size: 12px;
                        line-height: 1.13;
                        margin-bottom: 3px;
                        padding-top: 0.4em;
                    }
                }
            }
        }
    }

    // .location-extra

    &-extra {
        ._left {
        }
        ._right {
        }

        p {
            max-width: 300px;
            position: relative;
            z-index: 1;

            font-size: 30px;
            line-height: 1.28;

            @media (max-width: 600px) {
                max-width: none;
            }
        }
    }

    // .location-map

    &-map {
        position: relative;
        height: 595px;

        margin-top: -50px;

        @media (max-width: 1024px) {
            margin-top: -85px;
        }

        @media (max-width: 600px) {
            margin-top: -45px;
            padding: 0 15px;
        }

        &__content {
            position: relative;

            @media (max-width: $containerWithPadding + px) {
                width: 100vw;
                overflow-x: auto;
                transform: translate(-50%, 0);
                left: 50%;
                padding: 0 30px;
                height: 100%;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            @media (max-width: 600px) {
                padding: 0 15px;
            }
        }

        img {
            height: 595px;
            object-fit: cover;
            width: fit-content;
            max-width: none;
        }

        // .location-map__icons

        &__icons {
            position: absolute;
            bottom: 144px;
            left: 426px;
            right: 138px;
            z-index: 2;
            display: flex;
            align-items: flex-end;
            width: max-content;

            & > :first-child {
                margin-right: 23px;
            }

            & > :nth-child(2) {
                position: absolute !important;
                top: -60px;
                left: 32px;
                transform: translate(100%, -100%);
            }

            & > :nth-child(3) {
                transform: translate(0, -35px);
                margin-right: 32px;
            }

            & > :nth-child(4) {
                transform: translate(0, -71px);
                margin-right: 9px;
            }

            & > :nth-child(5) {
                transform: translate(0, -35px);
                margin-right: 10px;
            }

            & > :nth-child(6) {
                transform: translate(0, -25px);
                margin-right: 25px;
            }

            & > :nth-child(7) {
                transform: translate(0, -100%);
                margin-right: -9px;
            }

            & > :nth-child(8) {
                transform: translate(0, -100%);
                top: -79px;
                margin-right: 41px;
            }

            & > :nth-child(9) {
                transform: translate(0, -100%);
                top: -30px;
            }

            .loc-item {
                position: relative;

                &._active .babl {
                    display: block;
                }

                // .loc-item__icon

                &__icon {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    flex: 0 0 auto;

                    color: #000;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.41;
                    max-width: 110px;
                    min-width: 43px;

                    * {
                        pointer-events: all;
                    }

                    span {
                        margin-top: -0.5em;
                        position: relative;

                        &:before {
                            content: attr(title);
                            position: absolute;
                            -webkit-text-stroke: 0.18em #ffffff;
                            left: 0;
                            top: 0;
                            z-index: -1;
                        }
                    }

                    .icon {
                        width: 35px;
                        height: 50px;
                        background-image: url("@img/icons/loc-icon.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                }

                p {
                    display: none;
                }
            }
        }

        ._btn {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 13px;
            max-width: 253px;

            @media (max-width: 600px) {
                bottom: 34px;
            }
        }
    }
}

.babl {
    position: absolute;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -10px);
    padding: 0 13px 20px 0;
    border-radius: 25px 3px 3px 3px;
    background-color: $white;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    max-width: 220px;
    min-width: 220px;

    display: none;

    &._active {
        display: block;
    }

    // .babl-top

    &-top {
        display: flex;
        align-items: flex-start;
        margin-bottom: 18px;

        h4 {
            padding-top: 0.5em;
        }
    }

    // .babl-close

    &-close {
        flex: 0 0 auto;
        margin-right: 15px;

        img,
        svg {
            width: 45px;
            height: 45px;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.07));
        }
    }

    p {
        color: #000;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.75;
        letter-spacing: normal;
        padding-left: 17px;
    }
}

#about {
    @include adaptive-value("margin-bottom", 100, 70, 1);
}
.about-ticker {
    position: relative;
    margin-bottom: 40px;

    @media (max-width: 600px) {
        margin-bottom: 50px;
    }

    ._ticker {
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        color: $white;
        line-height: 1;
        letter-spacing: -0.07em;

        @include adaptive-value("font-size", 291, 89, 1);

        & > :first-child {
            margin-right: 0.2em;
        }

        @media (max-width: 600px) {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    ._flex {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: -2;
        align-items: flex-end;

        @media (max-width: 600px) {
            position: relative;
            transform: none;
            left: unset;
            top: unset;
        }
    }

    ._left {
        padding-right: 20px;

        @media (max-width: 600px) {
            padding-right: 0;
        }

        div {
            transform: translate(0, -7%);

            @media (max-width: 600px) {
                width: 65%;
                transform: none;
            }
        }
    }

    ._right {
        @media (max-width: 600px) {
            margin-top: -35%;
        }

        div {
            margin-left: auto;
            width: 50%;
            transform: translate(0, 25%);

            @media (max-width: 600px) {
                width: 63%;
                transform: none;
            }
        }
    }
}

#services {
    @include adaptive-value("margin-bottom", 120, 70, 1);
    counter-reset: count;

    .section__descr {
        padding-top: 28px;
        position: relative;
        counter-increment: count;

        &:after {
            position: absolute;
            content: "/" counter(count);
            left: 0;
            top: 27px;

            color: $light-gray;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 10px;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 1px;
            background-color: $light-gray;
            opacity: 0.5;
            z-index: -1;
        }

        @media (max-width: 600px) {
            padding-top: 77px;
            margin-bottom: 40px;
        }

        h4 {
            margin-bottom: 30px;
        }
    }

    .section__body {
        position: relative;
    }

    .icons {
        position: absolute;
        width: 100%;
        top: 190px;
        left: 0;
        align-items: flex-end;
        z-index: 1;
        pointer-events: none;

        @media (max-width: 1024px) {
            top: 270px;
        }

        @media (max-width: 600px) {
            display: none;
        }

        ._left {
            .icon {
                margin: 0 auto;
                transform: translate(0, 50%);

                @media (max-width: 1024px) {
                    width: 58%;
                    padding-bottom: 58%;
                    transform: translate(0, 100%);
                }

                img,
                svg {
                    width: 60px;

                    @media (max-width: 1024px) {
                        width: 41px;
                    }
                }
            }
        }

        ._right {
            .icon {
                margin-left: auto;

                @media (max-width: 1024px) {
                    width: 39.6%;
                    padding-bottom: 39.6%;
                }

                img,
                svg {
                    width: 94px;

                    @media (max-width: 1024px) {
                        width: 49px;
                    }
                }
            }
        }

        .icon {
            background-color: $white;
            border-radius: 50%;
            position: relative;
            width: 50%;
            padding-bottom: 50%;

            img,
            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

#villa {
    margin-bottom: 60px;
}

.villa {
    // .villa__flex

    &__flex {
        display: flex;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    // .villa__images

    &__images {
        flex: 1 1 auto;
        position: relative;

        @media (max-width: 1024px) {
            margin-bottom: 40px;
            display: flex;

            width: 100vw;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 0 30px;

            overflow-x: auto;

            @media (any-hover: none) {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        @media (max-width: 600px) {
            padding: 0 15px;
        }

        & > :not(:last-child) {
            margin-bottom: 15px;

            @media (max-width: 1024px) {
                margin-bottom: 0;
                margin-right: 24px;
            }

            @media (max-width: 600px) {
                margin-right: 10px;
            }
        }

        img {
            border-radius: 3px;
            object-fit: cover;

            @media (max-width: 1024px) {
                width: 95.03%;
                flex: 0 0 auto;
            }
        }

        ._btn {
            position: absolute;
            left: 15px;
            top: 45px;
            max-width: 183px;

            @media (max-width: 1024px) {
                left: 45px;
            }

            @media (max-width: 600px) {
                left: 25px;
                top: 25px;
            }
        }
    }

    // .villa__content

    &__content {
        max-width: 356px;
        width: 100%;
        margin-left: 30px;

        @media (max-width: 1024px) {
            max-width: none;
            margin-left: 0;
        }

        // .villa__content-body

        &-body {
            position: sticky;

            @media (max-width: 1024px) {
                position: static;
            }
        }

        // .villa__content-descr

        &-descr {
            font-size: 13px;
            font-weight: 300;
            line-height: 1.75;
            letter-spacing: normal;
            margin-bottom: 42px;

            @media (max-width: 600px) {
                margin-bottom: 50px;
            }

            & > :not(:last-child) {
                margin-bottom: 28px;
            }
        }

        h1 {
            font-weight: 500;
            line-height: 1;
            color: $green;

            margin-bottom: 46px;
            font-size: 70px;

            @media (max-width: 124px) {
                margin-bottom: 40px;
            }

            @media (max-width: 600px) {
                font-size: 40px;
                margin-bottom: 31px;
            }
        }

        // .villa__content-chars

        &-chars {
            h2 {
                margin-bottom: 23px;
                color: $gray;
                font-weight: 500;
                line-height: 1.2;
            }

            div:not(:last-of-type) {
                margin-bottom: 23px;
            }

            h3 {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.41;
                margin-bottom: 17px;
            }

            p {
                font-size: 13px;
                font-weight: 300;
                line-height: 1.75;
            }
        }
    }

    // .villa__price

    &__price {
        margin-top: 62px;
        max-width: 355px;

        @media (max-width: 1204px) {
            margin-top: 40px;
        }

        @media (max-width: 600px) {
            max-width: none;
        }

        ol {
            color: #000;
            display: flex;
            justify-content: space-between;

            li {
                width: calc(50% - 5px);

                label {
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 1.75;
                    margin-bottom: 15px;
                    display: block;
                }

                span {
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 1;
                }
            }
        }

        ._btn {
            margin-top: 25px;
        }
    }
}

body.single {
    .to-top {
        display: none;
    }
}
